<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Firstname: </mat-label>
        <input matInput formControlName="firstName">

        @if (firstName?.hasError('required')) {
            <mat-error>The Firstname is required !</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lastname: </mat-label>
        <input matInput formControlName="lastName">

        @if (lastName?.hasError('required')) {
            <mat-error>The Lastname is required !</mat-error>
        }
    </mat-form-field>
</form>


@if (posts$ | async; as posts) {
    @for (post of posts; track post.title) {
        <button mat-flat-button color="primary" style="display: block;">Get the comments of post {{ post.id }}</button>
    }
    @empty {
        <div>Nothing here :)</div>
    }
}